[package]
name = "rustradio"
version = "0.2.21"
edition = "2021"
license = "MIT"
authors = ["Thomas Habets <thomas@habets.se>"]
readme = "README.md"
repository = "https://github.com/ThomasHabets/rustradio"
description = "Software defined radio library"
keywords = ["SDR", "radio"]

# See more keys and their definitions at
# https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.75"
log = "0.4.20"
num = "0.4.1"
rustfft = "6.1.0"
tempfile = "3.8.0"
rtlsdr = {version = "0.1.4", optional=true}

[dev-dependencies]
structopt = "0.3.26"
stderrlog = "0.5.4"

[lib]
name = "rustradio"
path = "src/lib.rs"

[features]
# default = ["rtlsdr"]
rtlsdr = ["dep:rtlsdr"]

[profile.release]
overflow-checks = true
#lto = true
#codegen-units = 1  # Higher is faster, lower gives more opt potential.

[profile.release.package."*"]
overflow-checks = true
