[package]
name = "rustradio"
version = "0.5.3"
edition = "2021"
license = "MIT"
authors = ["Thomas Habets <thomas@habets.se>"]
readme = "README.md"
repository = "https://github.com/ThomasHabets/rustradio"
description = "Software defined radio library"
keywords = ["SDR", "radio"]

# See more keys and their definitions at
# https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.75"
log = "0.4.20"
num-complex = "0.4.4"
rustfft = "6.1.0"
tempfile = "3.8.0"
rtlsdr = {version = "0.1.4", optional=true}
fast-math = {version = "0.1.1", optional=true}
libc = "0.2.149"
soapysdr = {version = "0.4.0", optional=true}
serde_json = "1.0.113"
serde = {version = "1.0.196", features = ["derive"]}
cpal = { version = "0.15.3", features = ["jack"], optional=true }
errno = "0.3.9"
rustradio_macros = { version = "0.5.3", path = "rustradio_macros" }

[dev-dependencies]
structopt = "0.3.26"
stderrlog = "0.6.0"
ctrlc = "3.4.1"

[lib]
name = "rustradio"
path = "src/lib.rs"

[features]
rtlsdr = ["dep:rtlsdr"]
soapysdr = ["dep:soapysdr"]
fast-math = ["dep:fast-math"]
audio = ["dep:cpal"]

[[example]]
name = "bell202"
required-features = ["soapysdr"]

[[example]]
name = "tone"
required-features = ["audio"]

[profile.release]
overflow-checks = true
#lto = true
#codegen-units = 1  # Higher is faster, lower gives more opt potential.

[profile.release.package."*"]
overflow-checks = true
