[graph]
all-features = true
no-default-features = false

[advisories]
ignore = [
    # paste is abandoned. volk should probably stop using it.
    "RUSTSEC-2024-0436",
]

[licenses]
# See https://spdx.org/licenses/ for list of possible licenses
# [possible values: any SPDX 3.11 short identifier (+ optional exception)].
allow = [
    "MIT",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "Unicode-3.0",
    "BSD-3-Clause",
    "ISC",
    "Zlib",
    "LGPL-3.0-only", # volk
]
exceptions = [
    # Feature `fftw` brings in a GPL liability.
    { allow = ["GPL-2.0-or-later"], crate = "fftw" },
    { allow = ["GPL-2.0-or-later"], crate = "fftw-sys" },
]
# The confidence threshold for detecting a license from license text.
# The higher the value, the more closely the license text must be to the
# canonical license text of a valid SPDX license file.
# [possible values: any between 0.0 and 1.0].
confidence-threshold = 0.8
# Allow 1 or more licenses on a per-crate basis, so that particular licenses
# aren't accepted for every possible crate as with the normal allow list
[[licenses.clarify]]
name = "fftw"
expression = "GPL-2.0-or-later"
license-files = [
    { path = "LICENSE.md", hash = 0xb3398f27 }
]
[[licenses.clarify]]
name = "fftw-sys"
expression = "GPL-2.0-or-later"
license-files = [
    { path = "LICENSE.md", hash = 0xb3398f27 }
]

[bans]
multiple-versions = "allow"
# Must allow wildcard for now because macro crates come in through relative
# paths. That's normally fine, but crates.io doesn't allow it for published
# crates, so here we are.
wildcards = "allow"
allow-wildcard-paths = true
highlight = "all"
workspace-default-features = "allow"
external-default-features = "allow"
# List of crates that are allowed. Use with care!
allow = [
    #"ansi_term@0.11.0",
    #{ crate = "ansi_term@0.11.0", reason = "you can specify a reason it is allowed" },
]
# List of crates to deny
deny = [
    #"ansi_term@0.11.0",
    #{ crate = "ansi_term@0.11.0", reason = "you can specify a reason it is banned" },
    # Wrapper crates can optionally be specified to allow the crate when it
    # is a direct dependency of the otherwise banned crate
    #{ crate = "ansi_term@0.11.0", wrappers = ["this-crate-directly-depends-on-ansi_term"] },
]
#[[bans.skip]]
#name = "rustradio_macros"

[sources]
unknown-registry = "deny"
unknown-git = "warn"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []

[sources.allow-org]
github = []
gitlab = []
bitbucket = []
