name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Build examples
      run: cargo build --verbose --examples
    - name: Dependencies
      run:  sudo apt-get install -y librtlsdr-dev libsoapysdr-dev
    - name: Build all features
      run: cargo build --all-features --verbose
    - name: Build examples, all features
      run: cargo build --all-features --verbose --examples
    - name: Run tests
      run: cargo test --verbose
    - name: Run tests all features
      run: cargo test --all-features --verbose
